$color-dark-100: #171a32;
$color-dark-200: #111326;
$color-dark-300: #070a21;
$color-dark-400: #030713;
$color-dark-500: #010101;
$color-primary-100: #755efc;
$color-primary-200: #5f4ffc;
$color-primary-300: #4f3efc;
$color-primary-400: #3f2efc;
$color-primary-500: #2f1efc;
$color-primary-60: #5e4dfa99;
$color-secondary: #8c90b7;
$color-success: #5ae6bc;
$color-warning: #ffd337;
$color-danger: #ff5252;
$color-white: #ffffff;
$color-white-90: #ffffffe6;
$color-black: #000000;
