@use "abstracts" as *;

.nav_preference_item:not(:last-child) {
  margin-right: 0.75rem;
  cursor: pointer;

  & > span {
    margin: 0 1.125rem 0 1.5rem;
    transition: all 0.2s ease-in-out;
    color: $color-secondary;
    // hover
    &:hover {
      color: $color-white-90;
    }
  }
}

.preference_icon {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  // hover
  &:hover {
    background-color: $color-dark-300;
    & svg {
      & * {
        color: $color-white-90;
      }
    }
  }
  & svg {
    font-size: 1.5rem;
    & * {
      color: $color-secondary;
      transition: all 0.2s ease-in-out;
    }
  }
}

.input_field {
  padding: 0.65rem 1.5rem 0.65rem 3rem;
  border-radius: 9999px;
  outline: none;
  border: none;
  background-color: $color-dark-300;
  color: $color-secondary;
  border: 1px solid transparent;
  // focus
  &:focus {
    background-color: $color-dark-300;
    border: 1px solid $color-primary-60;
  }
  &.search {
    width: 24rem;
  }
}
