@use "abstracts" as *;

// ===== navigation =====
.nav_preference_item:not(:last-child) {
  margin-right: 0.75rem;
  cursor: pointer;

  & > span {
    margin: 0 1.125rem 0 1.5rem;
    transition: all 0.2s ease-in-out;
    color: $color-secondary;
    // hover
    &:hover {
      color: $color-white-90;
    }
  }
}
.nav_preference_item {
  position: relative;
  // after
  & .preference_icon::after {
    transition: all 0.2s ease-in-out;
    position: absolute;
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    background-color: $color-dark-300;
    color: $color-secondary;
    visibility: hidden;
    opacity: 0;
    top: 2.8rem;
  }
  &:first-child:hover .preference_icon.grid_view:after {
    left: -2.15rem;
    content: "Tampilan petak";
    visibility: visible;
    opacity: 1;
  }
  &:first-child:hover .preference_icon.list_view:after {
    left: -2.15rem;
    content: "Tampilan daftar";
    visibility: visible;
    opacity: 1;
  }
  &:nth-child(2):hover .preference_icon::after {
    left: -1.4rem;
    content: "Pengaturan";
    visibility: visible;
    opacity: 1;
  }
  // media queries
  @media (max-width: 991px) {
    &:nth-child(3) {
      display: none;
    }
    &:last-child {
      margin-left: 0.75rem;
    }
  }
  @media (max-width: 840px) {
    &:nth-child(2) {
      display: none;
    }
  }
  @media (max-width: 576px) {
    width: 2.625rem;
    height: 2.625rem;
  }
}

.preference_icon {
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  // hover
  &:hover {
    background-color: $color-dark-300;
    & svg {
      & * {
        color: $color-white-90;
      }
    }
  }
  & svg {
    font-size: 1.5rem;
    & * {
      color: $color-secondary;
      transition: all 0.2s ease-in-out;
    }
  }
}

.input_field {
  padding: 0.75rem 1.25rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
  background-color: $color-dark-300;
  color: $color-secondary;
  border: 1px solid transparent;
  width: 100%;
  // focus
  &:focus {
    background-color: $color-dark-300;
    border: 1px solid $color-primary-60;
  }
  &.search {
    padding: 0.65rem 1.5rem 0.65rem 3rem;
    border-radius: 9999px;
    width: 24rem;
    // media queries
    @media (max-width: 768px) {
      width: 42vw;
    }
  }
}

.mt-6 {
  margin-top: 1.5rem;
}

// ===== footer ======
footer {
  width: 100%;
  background-color: $color-dark-400;
}
