@use "../abstracts/" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-space-grotesk;
  color: $color-white-90;
  font-size: 0.98rem;

  // media queries
  @media (max-width: 576px) {
    font-size: 0.875rem;
  }
}

body {
  background-color: $color-dark-200;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.25;
  // media queries
  @media (max-width: 576px) {
    font-size: 2.125rem;
  }
}
h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  // media queries
  @media (max-width: 576px) {
    font-size: 1.75rem;
  }
}
h3 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.25;
  // media queries
  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}
h4 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  // media queries
  @media (max-width: 576px) {
    font-size: 1.125rem;
  }
}
h5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  // media queries
  @media (max-width: 576px) {
    font-size: 1.125rem;
  }
}
h6 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  // media queries
  @media (max-width: 576px) {
    font-size: 1.125rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  padding-top: 4.75rem;
}
